nav{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #777;
}

.brand, .links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img{
  width: 100px;
}

.links li{
  margin-right: 1em;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.links a{
  padding: .1em .3em;
}
